# Copy to ~/.clearml/clearml.conf after the local server is up.
# Create credentials in the UI: http://localhost:8080/settings/workspace-configuration

api {
  web_server: http://localhost:8080
  api_server: http://localhost:8008
  files_server: http://localhost:8081
  credentials {
    "access_key" = "BMEH8RL9TAOQM9OONKXGGDUJSH8NAK"
    "secret_key" = "v0y3N5EAgGVXtlDgtugpLGXwfoBPefjLmrdNZTmp3Jb10Cg4gjDZmVuwvdLIsu7XEMg"
  }
}